<p align="center">
  <img
    src="https://avatars.githubusercontent.com/u/68860804?v=4"
    width="300px"
  />
</p>
<h2 style="text-align: center; color: black">Lê Nguyễn Gia Bảo</h2>
<p align="center">
  <a href="https://www.linkedin.com/in/lenguyengiabao/" target="_blank">
    <img src="https://img.icons8.com/fluent/48/000000/linkedin.png" />
  </a>
  <a href="https://www.facebook.com/baorua.98/" alt="Facebook" target="_blank">
    <img src="https://img.icons8.com/fluent/48/000000/facebook-new.png" />
  </a>
  <a href="https://github.com/LeNguyenGiaBao" alt="Github" target="_blank">
    <img src="https://img.icons8.com/fluent/48/000000/github.png" />
  </a>
  <a
    href="https://www.youtube.com/channel/UCOZbUfO_au3oxHEh4x52wvw/videos"
    alt="Youtube channel"
    target="_blank"
  >
    <img src="https://img.icons8.com/fluent/48/000000/youtube-play.png" />
  </a>
  <a href="https://www.kaggle.com/nguyngiabol" alt="Kaggle" target="_blank">
    <img src="https://img.icons8.com/windows/48/000000/kaggle.png" />
  </a>
  <a href="mailto:lenguyengiabao46@gmail.com" alt="Email" target="_blank">
    <img src="https://img.icons8.com/fluent/48/000000/mailing.png" />
  </a>
</p>
<p style="text-align: center; color: black; font-size: 20px">
  Design By <a href="https://streamlit.io" target="_blank">Streamlit</a>
</p>
